.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

@media screen and (min-width: 1250px) {
    .introduction{
        width: 80%;
    }
}

@media screen and (min-width: 1800px) {
    .introduction{
        width: 50%0;
    }
}