.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media screen and (min-width: 1350px) {
    .introduction{
        width: 80%;
    }
}

@media screen and (min-width: 1800px) {
    .introduction{
        width: 50%;
    }
}