.custom-cursor {
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    font-size: 16px; /* Adjust font size as needed */
    color: black; /* Change text color */
}

img:hover {
    cursor: none; /* Hide default cursor */
}

.letterPage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 80px;
    margin-bottom: 20px;
    flex-direction: column;
}

.letterPage img {
    height: auto;
    width: 100%;
    margin-bottom: 100px;
}

