.letterPage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 80px;
    margin-bottom: 20px;
    flex-direction: column;
}

.letterPage img {
    height: auto;
    width: 100%;
    margin-bottom: 100px;
}